
.table-wrap {
	margin:15px 0
}
.customer-info .ivu-form-item {
	margin-bottom:5px
}
.customer-info .ivu-form-item .ivu-form-item-content {
	font-size:14px!important
}
.customer-info .table-wrap {
	margin:15px
}
.customer-info .rank-card {
	width:230px;
	float:right;
	border:1px solid #e5e5e5
}
.customer-info .rank-card .number {
	font-size:16px;
	font-weight:600;
	color:#fe7e76
}
.customer-info .table-title {
	margin:30px 15px 0;
	color:#666
}
.customer-info .table-title h2,.customer-info .table-title h3 {
	text-align:center
}
.customer-info .table-page {
	padding:10px 15px
}
.section-title {
	border-bottom:1px solid #eee;
	margin:0 15px;
	padding:5px;
	font-size:14px;
	color:#2d8cf0
}
.edit-customer {
	padding:15px
}
.edit-customer .ivu-form-item {
	margin-bottom:20px
}
.edit-customer .div-table {
	width:900px;
	margin-bottom:20px
}
.edit-customer .div-table .table-header {
	background:#eef1f6;
	padding:5px 0
}
.edit-customer .div-table .table-body {
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5
}
.edit-customer .div-table .table-body .ivu-row {
	border-bottom:1px solid #e5e5e5;
	padding:15px 0
}
.edit-customer .div-table .table-body .ivu-row .ivu-radio-group {
	width:100%
}
.edit-customer .div-table .ivu-col {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-moz-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	padding:0 15px;
	min-height:24px
}
.edit-customer .validity {
	color:#fe7e76;
	margin-left:10px
}
.edit-customer .m-l-20 {
	margin-left:20px
}
.div-table {
	width:600px;
	margin-bottom:20px
}
.div-table .table-header {
	background:#eef1f6;
	padding:5px 0
}
.div-table .table-body {
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5
}
.div-table .table-body .ivu-row {
	border-bottom:1px solid #e5e5e5;
	padding:15px 0
}
.div-table .table-body .ivu-row .ivu-radio-group {
	width:100%
}
.div-table .ivu-col {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-moz-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	padding:0 15px;
	min-height:24px
}
.m-l-20 {
	margin-left:20px
}
.m-t-20 {
	margin-top:20px
}
.table-wrap {
	margin:15px 0
}
.table-wrap {
	margin:15px 0
}
.container {
	padding:15px
}
.layout {
	border:1px solid #d7dde4;
	background:#f5f7f9;
	position:relative;
	border-radius:4px;
	overflow:hidden;
	height:100%
}
.layout .layout-container,.layout {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-direction:normal;
	-webkit-box-orient:vertical;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
}
.layout-breadcrumb {
	padding:10px 15px 0
}
.layout-content {
	min-height:200px;
	margin:5px;
	overflow:auto;
	background:#fff;
	border-radius:4px;
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	padding:10px 10px;
	min-width:1000px;
}
.layout-content-main {
	padding:10px
}
.layout-copy {
	text-align:center;
	padding-bottom:5px;
	color:#9ea7b4
}
.layout-menu-left {
	background:#464c5b;

}
.layout-header {
	background:#fff;
	box-shadow:0 1px 1px rgba(0,0,0,.1);
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex
}
.layout-header .ivu-breadcrumb {
	margin-left:20px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-moz-align-items:center;
	-ms-flex-align:center;
	align-items:center
}
.ivu-breadcrumb>span:last-child {
	font-weight:400!important
}
.layout-logo-left {
	width:90%;
	height:30px;
	background:#5b6270;
	border-radius:3px;
	margin:15px auto
}
.layout-ceiling-main a {
	color:#9ba7b5
}
.layout-hide-text  {
	display:none
}
.ivu-col {
	transition:width .2s ease-in-out
}
.ivu-menu-submenu {
	position:relative
}
.ivu-menu-submenu .sub {
	display:none;
	margin:0;
	padding:0;
	position:absolute;
	left:100%;
	top:0;
	background:#464c5b;
	min-width:180px;
	z-index:99999999
}
.ivu-menu-submenu:hover .sub {
	display:block
}
.flex-container {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
    
}
.flex-container .layout-menu-left {
	width:220px;
	transition:width .3s;


}
.flex-container .layout-menu-left-mini {
	width:60px;
	background:#464c5b
}
.flex-container .layout-container {
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	transition:width .3s;
	overflow-x:auto
}
.header-bar {
	height:60px;
	width:100%;
	background:linear-gradient(90deg,#1d7fee,#33b7f7)
}
.header-bar .logo-wrap {
	float:left;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	height:100%;
	padding:15px 20px;
	color:hsla(0,0%,100%,.85)
}
.header-bar .logo-wrap .logo-img,.header-bar .logo-wrap .logo-img img {
	height:100%
}

.header-bar .right-wrap {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	float:right;
	height:100%;
	padding-right:20px;
	color:#fff;
}
.logo-txt {
    -webkit-box-align:center;
    -moz-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    font-size:18px;
    font-weight:400;
    width:140px;
}
.header-bar .right-wrap .account,.header-bar .right-wrap  {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-moz-align-items:center;
	-ms-flex-align:center;
	align-items:center;
    padding:0 10px;
}
.header-bar .right-wrap  {
	padding:0 20px;
	font-size:24px!important;
	cursor:pointer
}

.login {
	height:100%;
	background:url(../images/5f4724a3.logo-bg.jpg);
	background-repeat:no-repeat;
	background-position:top;
	background-size:cover;
	position:relative
}
.login-wrap {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:600px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	border:5px solid hsla(0,0%,100%,.5)
}
.login-wrap .logo {
	width:40%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-moz-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-moz-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	background:#fff
}
.login-wrap .form {
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	padding:2.8rem 1rem;
	background:#fff
}
.login-wrap .form .row {
	margin:.8rem
}
.login-wrap .form .title {
	font-size:1.7rem;
	color:#1b93e1
}
.login-wrap .form .title span {
	float:right;
	margin:1rem;
	font-size:.8rem
}
.login-wrap .form .m-t-2 {
	margin-top:2rem
}
.login-wrap .form .sumbit .el-button {
	display:block;
	width:100%
}
body,html {
	height:100%;
	font-size:14px!important;
	font-family:Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif
}
.layout-hide-text .ivu-menu-vertical .ivu-menu-submenu-title-icon {
	display:none!important
}
::-webkit-scrollbar {
	width:5px;
	height:4px;
	background-color:#f5f5f5
}
::-webkit-scrollbar-track {
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
	background:#fff
}
::-webkit-scrollbar-thumb {
	background-color:rgba(0,0,0,.7)
}
::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb:hover {
	border-radius:3px;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3)
}
::-webkit-scrollbar-thumb:hover {
	background-color:#000
}
.ivu-breadcrumb a {
	color:#999!important
}
.ivu-breadcrumb>span:last-child a {
	color:#495060!important
}

.menu-icon {
        transition: all .3s;
    }

.rotate-icon {
        transform: rotate(-90deg);
    }
